### Maven Files ###
# ignore mvn building directorys
target/

# ignore java-binary
*.class

### Eclipse Files ###
# ignore each users depending eclipse porperties
.classpath
.project
.settings/

# ignore vi swap files
*.swp

# ignore latex output
*.pdf
*.aux
*.dvi
*.log

# ignore generateable html files
*.html
